In [ ]:
#Задание 1

word = input('Введите слово:')

if len(word) % 2 == 0:
  print(word[int(len(word)/2 - 1)] + word[int(len(word)/2)])
else:
  print((word[int(len(word)/2)]))

In [ ]:
#Задание 2

summa = 0

while True:
  number = int(input('Введите число:'))
  if number != 0:
    summa += number
  else:
    break
print('Результат:', summa)

In [ ]:
#Задание 3

boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']



if len(boys) == len(girls):
  for i in range(len(boys)):
    print(f'Идеальные пары {sorted(boys)[i]} и {sorted(girls)[i]}')
else:
  print('Внимание, кто-то может остаться без пары!')

In [ ]:
#Задание 4

countries_temperature = [
    ['Таиланд', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Германия', [57.2, 55.4, 59, 59, 53.6]],
    ['Россия', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Польша', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

for row in countries_temperature:
  average = round((sum(row[1]) / len(row[1]) -32) * 5 / 9,1)
  print(f'{row[0]} - {average} C')

Таиланд - 23.9 C
Германия - 13.8 C
Россия - 3.7 C
Польша - 12.0 C

In [ ]:
#Задание 5

import re

car_ids = ['А222ВС96', 'АБ22ВВ193']

for ids in car_ids:
  match = re.fullmatch(r'([А,В,Е,К,М,Н,О,Р,С,Т У,Х]{1}\d{3}[А,В,Е,К,М,Н,О,Р,С,Т У,Х]{2})(\d{2})', ids)
  print(f'Номер {ids} не валиден' ) if not match else print(f'Номер {ids[:-2]} валиден. Регион: {ids[-2:]}' )

In [ ]:
#Задание 6

import re

stream = [
    'user100,2022-01-01;150',
    'user99,2022-01-07;205',
    'user1001,2022-03-29;81'
]

pattern = r"(\w+),(\d{4}-\d{2}-\d{2});(\d*)"

new_stream = []
buffer = 0

for record in sorted(stream):
    match = re.match(pattern, record)
    if match:
      username = match.group(1)
      number = match.group(3)
      buffer += int(number)
      if username not in new_stream:
        new_stream.append(username)
print(f'Среднее количество просмотров на уникального пользователя: {round(buffer/len(new_stream),2)}')

Среднее количество просмотров на уникального пользователя: 145.33

In [ ]:
str = 'AV Analytics Vidhya AV'

result = re.match(r'Analytics', 'AV Analytics Vidhy AVa')
print(result)

AttributeError: 'list' object has no attribute 'items'