##TASK 1

Определите, какому фильму было выставлено больше всего оценок 5.0.

In [ ]:
import pandas as pd

# task 1 Определите, какому фильму было выставлено больше всего оценок 5.0.


def read_data_movies():
    data_ratings = pd.read_csv("Файлы к заданию 1/movies.csv")
    return data_ratings

def read_data_ratings():
    data_movies = pd.read_csv("Файлы к заданию 1/ratings.csv")
    return data_movies

def merge_data():
    data_ratings = read_data_ratings()
    data_movies = read_data_movies()
    all_data = pd.merge(data_ratings, data_movies, on="movieId")
    return all_data

def find_top_film():
    all_data = merge_data()
    grouped = all_data[all_data["rating"] == 5.0]
    top_film = grouped["title"].value_counts().index[0]
    return top_film

print(find_top_film())

Answer: Shawshank Redemption, The (1994)

## TASK 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 год. Не учитывайте в расчётах отрицательные значения quantity.

In [ ]:
def read_power():
    data_power = pd.read_csv('Файлы к заданию 2/power.csv')
    return data_power

def read_transactions():
    data_transactions = pd.read_csv('Файлы к заданию 2/transactions.csv')
    return data_transactions

def groups_Baltics():
    data_power = read_power()
    grouped = data_power[data_power['country'].isin(['Latvia', 'Lithuania', 'Estonia'])]
    return grouped

def group_year(countrys,start_year=2005,end_year=2010):
    return countrys[(countrys['year'] >= start_year) & (countrys['year'] <= end_year)]

def sum_quantity(county_grouped_by_year):
    return (county_grouped_by_year['quantity'] > 0).sum()

def main():
    Baltics = groups_Baltics()
    Baltics_grouped_by_year = group_year(Baltics)
    print(sum_quantity(Baltics_grouped_by_year))

main()

answer = 6976

## TASK 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas DataFrame. Вы можете взять любые страницы.
Примеры страниц:
https://fortrader.org/quotes;
pythonworld.ru...strok.html

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from io import StringIO

# URL страницы с табличными данными
url = 'https://fortrader.org/quotes'
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36"
}
response = requests.get(url, headers=headers)

if response.status_code == 200:
    # Используем BeautifulSoup для парсинга HTML
    parsing_html = BeautifulSoup(response.content, "html.parser")

    # Извлекаем таблицы из HTML с помощью pandas
    html_str = str(parsing_html)
    tables = pd.read_html(StringIO(html_str))

    # Отображаем первую таблицу
    print(f"Количество таблиц на странице: {len(tables)}")
    print(tables[0])
else:
    print("Не удалось получить доступ к странице. Код ошибки:", response.status_code)

output:

Количество таблиц на странице: 7
                           Название    Цена  Изменение  Изменение(%)  Обновлено
0  EURRUB Курс евро к рублю сегодня  104.71       0.14          0.14        NaN
1       USDRUB Курс рубля к доллару   97.08       0.20          0.21        NaN