In [ ]:
import pandas as pd

### Задание 1
Для датафрейма log из материалов занятия создайте столбец source_type по правилам:

если источник traffic_source равен Yandex или Google, то в source_type ставится organic;
для источников paid и email из России ставим ad;
для источников paid и email не из России ставим other;
все остальные варианты берём из traffic_source без изменений.

In [ ]:
# вариант 1
data_log = pd.read_csv('data_for_homework/visit_log.csv', sep=';')
data_log['source_type'] = data_log['traffic_source']
data_log.loc[data_log['traffic_source'].isin(['yandex', 'google']), 'source_type'] = 'organic'
data_log.loc[(data_log['traffic_source'].isin(['paid', 'email'])) & (data_log['region'] == 'Russia'), 'source_type'] = 'ad'
data_log.loc[(data_log['traffic_source'].isin(['paid', 'email'])) & (data_log['region'] != 'Russia'), 'source_type'] = 'other'
print(data_log)

        timestamp    visit_id                                 url   region  \
0      1549980692  e3b0c44298  https://host.ru/3c19b4ef7371864fa3   Russia
1      1549980704  6e340b9cff  https://host.ru/c8d9213a31839f9a3a   Russia
2      1549980715  96a296d224  https://host.ru/b8b58337d272ee7b15   Russia
3      1549980725  709e80c884  https://host.ru/b8b58337d272ee7b15   Russia
4      1549980736  df3f619804  https://host.ru/b8b58337d272ee7b15   Russia
...           ...         ...                                 ...      ...
18933  1550094288  57e5ba8560  https://host.ru/c2382eb3d6afc8d0f3  Belarus
18934  1550094296  6f9389ec1b  https://host.ru/f1eb4601740d627ab0   Russia
18935  1550094308  e8cf2eb8e6  https://host.ru/a5dda93e70318570c0  Belarus
18936  1550094314  79530b9a67  https://host.ru/6fda01ec57f23abc9e   Russia
18937  1550094323  b3b634f824  https://host.ru/39fa884393666d45fc   Russia

          user_id traffic_source source_type
0      b1613cc09f         yandex     organic
1      4c3ec14bee         direct      direct
2      a8c40697fb         yandex     organic
3      521ac1d6a0         yandex     organic
4      d7323c571c         yandex     organic
...           ...            ...         ...
18933  98b19810d0           paid       other
18934  32ebb20c13           paid          ad
18935  b85baa8c73         yandex     organic
18936  e154b06121           paid          ad
18937  7d27a58fb8          email          ad

[18938 rows x 7 columns]

In [ ]:
#вариант 2
def check_source_type(row):
    if row['traffic_source'] in ['yandex', 'google']:
        return 'organic'
    elif row['traffic_source'] in ['paid', 'email'] and row['region'] == 'Russia':
        return 'ad'
    elif row['traffic_source'] in ['paid', 'email'] and row['region'] != 'Russia':
        return 'other'
    else:
        return row['traffic_source']

def source_type():
    data_log['source_type'] = data_log.apply(check_source_type, axis=1)
    return data_log
print(source_type())

        timestamp    visit_id                                 url   region  \
0      1549980692  e3b0c44298  https://host.ru/3c19b4ef7371864fa3   Russia
1      1549980704  6e340b9cff  https://host.ru/c8d9213a31839f9a3a   Russia
2      1549980715  96a296d224  https://host.ru/b8b58337d272ee7b15   Russia
3      1549980725  709e80c884  https://host.ru/b8b58337d272ee7b15   Russia
4      1549980736  df3f619804  https://host.ru/b8b58337d272ee7b15   Russia
...           ...         ...                                 ...      ...
18933  1550094288  57e5ba8560  https://host.ru/c2382eb3d6afc8d0f3  Belarus
18934  1550094296  6f9389ec1b  https://host.ru/f1eb4601740d627ab0   Russia
18935  1550094308  e8cf2eb8e6  https://host.ru/a5dda93e70318570c0  Belarus
18936  1550094314  79530b9a67  https://host.ru/6fda01ec57f23abc9e   Russia
18937  1550094323  b3b634f824  https://host.ru/39fa884393666d45fc   Russia

          user_id traffic_source source_type
0      b1613cc09f         yandex     organic
1      4c3ec14bee         direct      direct
2      a8c40697fb         yandex     organic
3      521ac1d6a0         yandex     organic
4      d7323c571c         yandex     organic
...           ...            ...         ...
18933  98b19810d0           paid       other
18934  32ebb20c13           paid          ad
18935  b85baa8c73         yandex     organic
18936  e154b06121           paid          ad
18937  7d27a58fb8          email          ad

[18938 rows x 7 columns]

### Задание 2
В файле URLs.txt содержатся URL страниц новостного сайта. Вам нужно отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри URL конструкцию: /, затем 8 цифр, затем дефис. Выполните действия:

Прочитайте содержимое файла с датафрейм.
Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствие с заданным шаблоном.

In [ ]:
import re

In [ ]:
pattern = '\/\d{8}-'
df = pd.read_csv('data_for_homework/URLs.txt')
filtered_df = df[df['url'].str.contains(pattern)]
print(filtered_df)

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[84 rows x 1 columns]

### Задание 3
Используйте файл с оценками фильмов ml-latest-small/ratings.csv.
Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок.
Под временем жизни понимается разница между максимальным и минимальным значениями столбца timestamp для данного значения userId.

In [ ]:
ratings = pd.read_csv('data_for_homework/ml-latest-small/ratings.csv')
user_ratings_count = ratings.groupby('userId')['rating'].count()
user_ratings_count = user_ratings_count[user_ratings_count > 100].index
active_user_ratings = ratings[ratings['userId'].isin(user_ratings_count)]
user_lifetime = active_user_ratings.groupby('userId')['timestamp'].agg(lambda x: x.max() - x.min())
average_lifetime = user_lifetime.mean()
print(average_lifetime)

40080507.4496124

### Задание 4
Дана статистика услуг перевозок клиентов компании по типам (см. файл “Python_13_join.ipynb” в разделе «Материалы для лекции “Продвинутый pandas”» ---- Ноутбуки к лекции «Продвинутый pandas»).
Нужно сформировать две таблицы:

таблицу с тремя типами выручки для каждого client_id без указания адреса клиента;
аналогичную таблицу по типам выручки с указанием адреса клиента.
Обратите внимание, что в процессе объединения таблиц данные не должны теряться.

In [ ]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
rzd

   client_id  rzd_revenue
0        111         1093
1        112         2810
2        113        10283
3        114         5774
4        115          981

In [ ]:
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
auto

   client_id  auto_revenue
0        113         57483
1        114            83
2        115           912
3        116          4834
4        117            98

In [ ]:
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
air

   client_id  air_revenue
0        115           81
1        116            4
2        117           13
3        118          173

In [ ]:
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1',
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)
client_base

   client_id          address
0        111  Комсомольская 4
1        112   Энтузиастов 8а
2        113  Левобережная 1а
3        114          Мира 14
4        115        ЗЖБИиДК 1
5        116    Строителей 18
6        117  Панфиловская 33
7        118     Мастеркова 4

In [ ]:
table1 = rzd.merge(auto, how='outer').merge(air, how='outer')
table2 = table1.merge(client_base, how='outer')

print(table1,'\n')
print(table2)

   client_id  rzd_revenue  auto_revenue  air_revenue
0        111       1093.0           NaN          NaN
1        112       2810.0           NaN          NaN
2        113      10283.0       57483.0          NaN
3        114       5774.0          83.0          NaN
4        115        981.0         912.0         81.0
5        116          NaN        4834.0          4.0
6        117          NaN          98.0         13.0
7        118          NaN           NaN        173.0

   client_id  rzd_revenue  auto_revenue  air_revenue          address
0        111       1093.0           NaN          NaN  Комсомольская 4
1        112       2810.0           NaN          NaN   Энтузиастов 8а
2        113      10283.0       57483.0          NaN  Левобережная 1а
3        114       5774.0          83.0          NaN          Мира 14
4        115        981.0         912.0         81.0        ЗЖБИиДК 1
5        116          NaN        4834.0          4.0    Строителей 18
6        117          NaN          98.0         13.0  Панфиловская 33
7        118          NaN           NaN        173.0     Мастеркова 4